aiogram==3.4.1  # Или более поздняя версия, если требуется
python-dotenv  # Для загрузки переменных окружения из .env файла (по желанию)
# Другие библиотеки, которые вы используете в своем боте (например, requests, если используете API)
